<div id="fileupload" class="gal-holder">
  <div class="header">
  <h1>
    <%= I18n.t("ckeditor.upload.title") %> <small>(<%= I18n.t("ckeditor.upload.limit") %> <%= number_to_human_size(Ckeditor::AttachmentFile.validators_on(:data)[3].options[:less_than]) %>)</small>
    <div class="fileupload-button gal-upload-holder">
      <%= link_to I18n.t(:upload, :scope => [:ckeditor, :buttons]), 'javascript:void(0)', :class => "add" %>
    </div>
  </h1>
  </div>
  
  <div class="fileupload-list">
    <%= render :partial => 'ckeditor/shared/asset', :collection => @attachments.scoped %>		
  </div>

  <% unless @attachments.last_page? %>
    <div class="pagination">
      <%= link_to I18n.t("ckeditor.buttons.next"), params.merge(:page => @attachments.next_page), :class => "next", :rel => "next" %>
    </div>
  <% end -%>

  <script type="text/javascript">
    <%= Ckeditor::Utils.js_fileuploader('attachments') %>
  </script>
</div>
