<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="robots" content="noindex, nofollow">
	<%= csrf_meta_tag %>
	<%= tag(:meta, :name => "ckeditor-path", :content => Ckeditor.relative_path) %>
  <title><%= I18n.t('page_title', :scope => [:ckeditor]) %></title>
  
  <%= stylesheet_link_tag "ckeditor/application" %>
  <%= javascript_include_tag "ckeditor/application" %>
  
  <script type="text/javascript">
    var CKEditorFuncNum = $.QueryString["CKEditorFuncNum"];
	  var CKEditorName = $.QueryString["CKEditor"];
	  var CKEDITOR = window.opener.CKEDITOR;
	  var EDITOR = CKEDITOR.instances[CKEditorName];
  </script>
</head>
<body>
	<%= yield %>
	<%= render :partial => 'ckeditor/shared/asset_tmpl' %>
</body>
</html>
